# {{ ansible_managed }}
# /etc/login.defs - Configuration control definition for the login package.
#
{% for option, value in shadow_login_defs.iteritems()|sort %}
{% if option|lower in ['env_path', 'env_supath'] %}
{% if value is iterable and value is not string %}
{{ option|upper }} 	PATH={{ value|join(':') }}
{% elif not value|match("PATH=.*")  %}
{{ option|upper }} 	PATH={{ value }}
{% else %}
{{ option|upper }} 	{{ value }}
{% endif %}
{% elif value in _shadow_config_boolean.keys() %}
{{ option|upper }} 	{{ _shadow_config_boolean[value] }}
{% else %}
{{ option|upper }} 	{{ value }}
{% endif %}
{% endfor %}
